{% extends 'base.html' %}
{% block title %}FFN: Create An Account{% endblock %}

{% block content %}
<div class="account-page">
    <h2>Create an Account</h2>
    <p>To be able to publish stories, you will need to create an account and set up your profile.
        If you already have a profile, please <a href="{% url 'login' %}">login</a> instead.
    </p>
</div>

<div class="new-form">
    <form action ="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-fields">
            {{ form.as_p }}
        <button type="submit">Create Account</button>
        </div>
    </form>
</div>

{% endblock %}