{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
                The Flair Family News
            {% endblock %}
        </title>
        <meta name="description" content="">
        <meta name="author" content="Joy Taylor">
        <link href="https://fonts.googleapis.com/css2?family=Playball&family=Quicksand&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block stylesheets %}{% endblock %}
    </head>
    
    <body>
        <header>
            <div id="header-text">
                <a id="header-link" href="{% url 'news:index' %}">
                    <h1>The Flair Family News</h1>
                </a>
            </div>
            <!-- include nav here -->
            {% include './nav.html' %}
        </header>

        <!-- content blocks here -->
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
