@import url('https://fonts.googleapis.com/css2?family=Playball&family=Quicksand&display=swap');
body {
    background-color: #fff9f9;
    font-family: 'Quicksand', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

img {
    filter: grayscale(100%);
}

h1 {
    font-family: 'Playball', cursive;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
   font-family: 'Playball', cursive; 
}

h3 {
    font-size: 2rem;
    margin: 0;
    font-family: 'Playball', cursive;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: 'Quicksand', sans-serif;
}

.new-story-page {
    display: block;
}

.new-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-fields {
    padding: 30px;
    width: 100%;
}

.form-input[type=text] {
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
    padding: 12px 20px;
    margin: 8px 0;
    width: 100%;
    box-sizing: border-box;
}

.form-input[type=date] {
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #ffffff; 
    font-family: 'Quicksand', sans-serif;
    font-size: medium;

}

button {
    width: 100%;
    background-color: #27dbd2;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Playball', cursive;
    font-size: x-large;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: 1px solid black;
    background-color: #ffffff;
    font-family: 'Quicksand', sans-serif;
}

.form-input[type=select] {
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
}

input[type=file] {
    font-family: 'Quicksand', sans-serif;
}
