{% extends "base.html" %}
{% load static %}
{% block title %}FFN: Stories about {{ cats }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<h2>Stories about {{ cats }}</h2>

{% for story in category_story %}
    <div class="story-card" id="story-card-{{ position }}">
        <img src="{{ story.image.url }}" alt="" width="250">
        <div class="story-card-text">
            <h3>{{ story.title }}</h3>
            <h4><a href="{% url 'news:authorStory' story.author.id %}">{{ story.author.full_name }}</a> | {{ story.better_date }} | {{ story.category }}</h4>
            {{ story.content|slice:"150" }} <a href="{% url 'news:story' story.id %}">read more...</a>
        </div>
    </div>

{% endfor %}



{% endblock %}