{% extends "base.html" %}

{% block content %}
<div class="new-story-page">
    <h3>Submit your story</h3>
    <p>Enter all of the details relevant to your story in the fields below.</p> 
    <p>Your article will be immediately published on The Flair Family News - Home Page.</p>
</div>

<div class="new-form">
    <form action ="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-fields">
            {{ form.as_p }}
        <p>Recommended Image: .jpg file, 1980x1080px, max 100kb</p>
        <button type="submit" id="form-button">Submit your story</button>
        </div>
    </form>
</div>

{% endblock %}
