{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<p>Welcome to the Flair Family News!</p>
<p>Here you will find stories about the wonderful female-led businesses that aspire to grow into an international market.
    All of the founders reside in Regional Queensland, and are taking part in a 16-week Incubator program from August to December 2020.</p>
<p>The Flair Incubator is delivered by the team from Canvas Coworking, in Toowoomba, Queensland.</p>
<p>This program received funding support from the Australian Government.</p>
<br><br>
{% if request.user.is_authenticated %}
<p>Welcome back {{user.first_name }}</p>
<p>Are you ready to publish a <a href="{% url 'news:newStory' %}">new story</a>?</p>
<p>Would you like to create a <a href="{% url 'news:addCategory' %}">new Story Category</a>?</p>
{% endif %}

<h2>Latest Stories</h2>
    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    <br><br>
<h2>All Stories</h2>
    <div id="all-stories">
        {% if latest_stories %}
            {% for story in all_stories %}
                {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

{% endblock %}

