{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}


<div class="story-card" id="story-card-{{ position }}">
    <a href="{% url 'news:story' story.id %}">
        {% if position < 5 %}
            <img src="{{ story.image.url }}" alt="" width="250">
        {% else %}
            <!-- <img src="https://picsum.photos/600"> -->
            <img src="{{ story.image.url }}" alt="" width="250">
        {% endif %}
        <div class="story-card-text">
            <h3>{{ story.title }}</h3>
            <h4>{{ story.author }}</h4>
            <h4>{{ story.better_date }}</h4>
            <h4>{{ story.category }}</h4>
        </div>
    </a>
</div>
