{% extends "base.html" %}
{% load static %}
{% block title %}FFN: Stories by {{ user.full_name }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

{% for story in auth_story %}
<h2>Stories by {{ story.author.full_name }} </h2>

    <div class="author-stories" id="author-story-card">
        <img src="{{ story.image.url }}" alt="" width="250">
        <div class="story-card-text">
            <h3>{{ story.title }}</h3>
            <h4>{{ story.better_date }} | 
                <a href="{% url 'news:categoryStory' story.category %}">{{ story.category }}</a></h4>
            {{ story.content|slice:"150" }} <a href="{% url 'news:story' story.id %}">read more...</a>
        </div>
    </div>

{% endfor %}

{% endblock %}