{% extends "base.html" %}
{% load static %}
{% block title %}FFN: Stories by {{ auth }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<h2>Stories by {{ auth }} </h2>

{% for story in auth_story %}
    <div class="story-card" id="story-card-{{ position }}">
        <img src="{{ story.image.url }}" alt="" width="250">
        <div class="story-card-text">
            <h3>{{ story.title }}</h3>
            <h4>{{ story.better_date }} | {{ story.category }}</h4>
            {{ story.content|slice:"150" }} <a href="{% url 'news:story' story.id %}">read more...</a>
        </div>
    </div>

{% endfor %}

{% endblock %}